<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="api_url" type="text" default="http://sklk.lt:8181/api" label="API URL"/>
    <setting id="video_url" type="text" default="http://sklk.lt:8181" label="VIDEO URL"/>
    <setting id="auth_key" type="text" default="" label="Auth key"/>
</settings>
